.w100{
    width: 100%;
  }

  .center-text {
    text-align: center;
  }
  
  .green-button {
    background-color: green; /* Fondo verde */
    color: white; /* Texto blanco para mejor contraste */
  }

  .blue-text {
    color: blue;
  }

 
  
  
  