<div class="panel-container">
  <mat-card class="mat-elevation-z6 asistencia-card">
    <h2 class="titulo-panel" style="text-align: center; margin-bottom: 20px;">
  <mat-icon style="vertical-align: middle; margin-right: 6px;">person_off</mat-icon>
  Reporte de Inasistencias
</h2>

<br>

      <div class="botones-accion" style="display: flex; justify-content: flex-start; gap: 10px; margin-bottom: 20px;">
  <button mat-raised-button color="primary" (click)="mostrarFiltrosConSwal()">
    <mat-icon>filter_alt</mat-icon> Filtrar
  </button>

  <button mat-stroked-button color="warn" (click)="limpiarFiltros()">
    <mat-icon>delete</mat-icon> Limpiar
  </button>
</div>


   <br>
    
    <div class="contenedor-boton-exportar">
      <button mat-raised-button color="accent" (click)="exportarExcel()">
        <mat-icon style="margin-right: 6px;">file_download</mat-icon>
        Exportar
      </button>
    </div>


    

    <!-- Tabla -->
    <table mat-table [dataSource]="dataSourceResumen" matSort class="mat-elevation-z2 asistencia-tabla">

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let r">{{ r.nombre }}</td>
      </ng-container>

      <!-- DNI -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
        <td mat-cell *matCellDef="let r">{{ r.dni }}</td>
      </ng-container>

      <!-- Centro -->
      <ng-container matColumnDef="centro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
        <td mat-cell *matCellDef="let r">{{ r.centro }}</td>
      </ng-container>

      <!-- Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let r">{{ r.fecha }}</td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="columnasResumen"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasResumen;"></tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
